body{
    font-family: 'Bai Jamjuree', sans-serif;
    overflow-x: hidden;
}
.landing{
    height: 100vh;
}
.image{
    background-image: url(bg-header-desktop.png);
    width: 100%;
    height: 60vh;
    position: relative;
}
.first{
 
   margin: 20px auto ;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%  , -50%);
   text-align: center;
}
.first h1 {
    font-size: 40px;
    margin-top: 30px
}
.buttons{
    bottom: 0;
    left: 50%;
    transform: translate(-50%  , -50%);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin: 10px auto;
    margin-bottom: -30px;
}
.buttons p{
   padding: 20px;
   border-radius: 20px;
   color: white;
   font-size: 20px;
}
.buttons p:first-of-type{
   background-color: hsl(171, 66%, 44%);
}
.buttons p:last-of-type{
   background-color: hsl(233, 100%, 69%);
}
.firsta{
    margin: auto auto ;
    margin-top: 100px;
    text-align: center;
}
.firsta p{
   padding-left: 300px;
   padding-right: 300px;
}
.firstb{
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    height: 80vh;
    margin-top: 100px;
    margin-left: -40px;
}
.left{
    background-image: url(image-computer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.right{
display: grid;
grid-template-rows: repeat( 3 , 1fr);
gap: 20px;
}
.first1 {
    padding:10px;
    padding-top: 0;
    padding-left: 60px;
}
.firstc{
    background-image: url(image-devices.png);
    background-size: cover;
    width: 60%;
    height: 500px;
    margin: 50px auto;
}
.firstd{
    margin: 50px;
    display: grid;
    grid-template-columns:  repeat(3 , 1fr);
   margin-top: 100px;
    gap: 10px;
}
.firstd1{
    padding: 10px;
    text-align: center;
}
.firstd1 i{
   font-size: 30px;
   color: rgba(0, 0, 0, 0.399);
}
.firstd1 h3{
   font-size: 22px;
}
.firstd1 p{
    color: rgba(0, 0, 0, 0.399);
}

.firste{
    margin: 50px auto;
    display: grid;
    grid-template-columns:  repeat(5 , 1fr);
    gap: 100px; 
   width: 80%;
    height: 100px;
    margin-top: 100px;
}

.firste1{
    background-image: url(logo-google.png);
    background-size: contain;
    background-repeat: no-repeat ;
    width: 50px;
    height: 50px;
}
.firste2{
    background-image: url(logo-ibm.png);
    background-size: contain;
    background-repeat: no-repeat ;
    width: 50px;
    height: 50px;
}
.firste3{
    background-image: url(logo-microsoft.png);
    background-size: contain;
    background-repeat: no-repeat ;
    width: 50px;
    height: 50px;
}
.firste4{
    background-image: url(logo-hp.png);
    background-size: contain;
    background-repeat: no-repeat ;
    width: 50px;
    height: 50px;
}
.firste5{
    background-image: url(logo-vector-graphics.png);
    background-size: contain;
    background-repeat: no-repeat ;
    width: 50px;
    height: 50px;
}

.firste1,
.firste2,
.firste3,
.firste4,
.firste5{
    text-align: center;
    padding: 30px;
}
.last{
 
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    padding: 20px;
    height: 80px;
    background-color: #eee;
   margin: -8px;
    
}
.footx{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.footy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: -300px;
    margin-left: 200px;
}
.footy i{
 margin: 15px;
 font-size: 25px;
}
.footy i:hover{
    color: hsl(171, 66%, 44%);
}
.foot1 h1 {
    color: hsl(171, 66%, 44%);
    font-size: 70px;
    margin: 0;
    padding: 0;
}
@media (max-width:768px) {
    .buttons{
        bottom: 0;
        left: 50%;
        transform: translate(-50%  , -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 300px;
        margin: 10px auto;
        margin-bottom: -250px;
    }
    .first {
        width: 350px
    }
    .first1 {
      padding-left: 50px;
    }
    .firstd1 p {
     font-size: 20px;
    }
    .first p {
        font-size: 20px;
        padding: 15px;
    }
    .firsta p {
        font-size: 20px;
        padding: 15px;
    }
    .landing{
        height: 120vh;
    }
    .firste {
        margin: 50px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5 , 1fr);
        gap: 100px;
        width: 80%;
        height: 150vh;
        margin-top: 10px;
    }
    .firsta h1 {
        display: block;
        padding: 0 71px;
    }
    .firsta p {
        padding: 10px;
       
    }
    .firstb{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat( 2 , 1fr);
        height: 85vh;
        margin-top: 100px;
        margin-left: 0px;
    }
    .firstd{
        margin: 50px;
        display: grid;
        grid-template-rows:  repeat(3 , 1fr) ;
        grid-template-columns: 1fr;
       margin-top: 100px;
        gap: 10px;
    }
        .firstc {
            background-image: url(image-devices.png);
            background-size: contain;
            width: 99%;
            height: 230px;
            margin: 50px auto;
            background-repeat: no-repeat;
        }
    
    .footy {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
         margin-right: 0px; 
        margin-left: 0px; 
    }
    .firste1, .firste2, .firste3, .firste4, .firste5 {
        margin: 10px auto;
    }
    .footer {
        margin: 200px -8px -8px;
        height: 400px;
      
    }
    .footx {
        flex-direction: column;
        margin: 10px auto;
        text-align: center;
    }
    .last{
        width: auto;
    }
    .left{
        background-image: url(image-computer.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 70%;
        margin: 0 auto;
    height: 200px;
    }
}
